<footer class="footer is-centered" style="padding-bottom:3rem;">
  <div class="content has-text-centered">
      <p class="copyright">© {{currentYear}} <a href="{% if settings.meta.url %}{{ base_url_in_default }}/{% else %}/{% endif %}"><strong class="has-text-grey-darker">{{settings.meta.name}}</strong></a></p>
      <p class="declare has-text-grey">{% if settings.meta.footerInfo %}{{settings.meta.footerInfo}}{% endif %}</p>
      <p class="declare has-text-grey">Опубликованно с помощью <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer"><strong>Eleventy</strong> v2.0.1</a></p>
  </div>
</footer>